{
  "endOfLine": "auto",
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "overrides": [
    {
      "files": "package*.json",
      "options": {
        "printWidth": 1000
      }
    }
  ]
}
